/*  ======= VEHICLE LIST CSSS ============ */

.vehicle_rental_showcase {
  min-height: 100vh;
  background-color: white;
  font-family: "Inter", sans-serif;
}

/* Main Container */
.main_container {
  min-width: 100%;
  margin: 0 auto;
  padding: 1.5em 1rem 2rem 1rem;
}

/* Vehicle Grid */
.vehicle_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

/* Vehicle Card */
.vehicle_card {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 1rem 1.5rem;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.vehicle_card:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

/* Vehicle Image */
.vehicle_image_container {
  position: relative;
  width: 70%;
  height: max-content;
  overflow: hidden;
  border-radius: 0.5rem;
  background: transparent;
  margin: auto;
  width: 265px;
  height: 180px;
}
.vehicle_image_container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.7s;
}
.vehicle_card:hover .vehicle_image_container img {
  transform: scale(1.1);
}
.available_badge {
  position: absolute;
  top: 0rem;
  left: 0rem;
  background: rgba(245, 218, 178, 0.7);
  backdrop-filter: blur(5px);
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  font-weight: bold;
  color: #005f3f;
}
.vehicle_name_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.637));
  padding: 0.2rem 1rem;
  color: rgb(247, 247, 247);
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
}

.vehicle_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Date Range */
.date_range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #f7f4f1, #f7f5ec);
  padding: 0.1rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #fb923c;
}
.date_range p {
  font-size: 0.8rem;
  color: #4b5563;
}
.chevron {
  color: #fb923c;
  width: 1.25rem;
  height: 1.25rem;
}

/* Pricing */
.pricing_section p {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-weight: 500;
  color: #374151;
}
.icon {
  width: 1.2rem;
  height: 1.2rem;
}
.pricing_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.pricing_btn {
  padding: 0.2rem 0.5rem;
  border-radius: 0.4rem;
  border: 2px solid #e5e7eb;
  background: white;
  cursor: pointer;
  transition: all 0.3s;
  width: 100%;
}
.pricing_btn:hover {
  border-color: #fb923c;
  box-shadow: 0 5px 15px rgba(248, 174, 114, 0.3);
}
.pricing_btn.selected {
  border-color: #f5ab6e;
  background: linear-gradient(to bottom right, #fcf4ee, #fae9dc);
  color: white;
  box-shadow: 0 1px 15px rgba(251, 146, 60, 0.1);
}

/* Additional Info */
.additional_info div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #4b5563;
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}

/* Buttons */
.action_buttons {
  display: flex;
  gap: 0.75rem;
}
.book_now {
  flex: 1;
  background: linear-gradient(to right, #b45309, #c2410c, #78350f);
  color: white;
  padding: 0.75rem;
  border-radius: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}
/* .book_now:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
} */
.edit_btn {
  background: linear-gradient(to right, #374151, #1f2937);
  padding: 0.75rem;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}
/* .edit_btn:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
} */

/* WER Section */
.wer_section {
  margin-top: 3rem;
  background: linear-gradient(to right, #1f2937, #111827);
  color: white;
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
}
.wer_section h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.wer_section p {
  color: #d1d5db;
}
